<div class="container mt-3">

  <form action="/" method="POST">

    <div class="row mt-4 mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end align-items-center px-3">
        <span style="font-size: 0.8rem;">*必填欄位</span>
      </div>
      <div class="col-4 d-flex justify-content-center px-3">
        <span>請修改你的支出</span>
      </div>
      <div class="col-4">
      </div>
    </div>

    <div class="row mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end px-4">
        <label for="name" class="col-form-label">名稱* :</label>
      </div>
      <div class="col-4 d-flex justify-content-center px-2">
        <input type="text" id="name" name="name" class="form-control" aria-describedby="passwordHelpInline"
          placeholder="ex: 吃飯">
      </div>
      <div class="col-4">
      </div>
    </div>

    <div class="row mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end px-4">
        <label for="date" class="col-form-label">日期* :</label>
      </div>
      <div class="col-4 d-flex justify-content-center px-2">
        <input type="date" id="date" name="date" max="2299-12-31" min="1900-01-01" class="form-control">
      </div>
      <div class="col-4">
      </div>
    </div>

    <div class="row mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end px-4">
        <label for="category" class="col-form-label">類別* :</label>
      </div>
      <div class="col-4 d-flex justify-content-center px-2">
        <select class="form-control" id="category" name="category">
          <option value="All">請選擇類別</option>
          <option value="111">111</option>
          <option value="222">222</option>
          {{#each categoryList}}
          <option value="{{this.name}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-4">
      </div>
    </div>

    <div class="row mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end px-4">
        <label for="amount" class="col-form-label">金額* :</label>
      </div>
      <div class="col-4 d-flex justify-content-center px-2">
        <input type="number" id="amount" name="amount" class="form-control" placeholder="輸入金額">
      </div>
      <div class="col-4">
      </div>
    </div>


    <div class="row mb-4 gx-0">
      <div class="col-4 d-flex justify-content-end px-4">
      </div>
      <div class="col-4 d-flex justify-content-center px-2">
        <button type="submit" class="btn btn-outline-secondary" style="width: 100%">新增支出</button>
      </div>
      <div class="col-4">
      </div>
    </div>

  </form>
</div>